@import "variables.scss";
@import "mixins.scss";

header{
  @include padding;
  background: rgba(255, 255, 255, .5);
  box-sizing: border-box;
  .mainlogo{
    text-align: right;
    img{
      height: 20px;
      object-fit: contain;
      vertical-align: middle;
    }
    a{
      text-decoration: none;
      font-weight: bold;
      color: $darkgray;
    }
    .navmain{
      .exhlogo{
        height: 125px;
        object-fit: contain;
      }
    }
  }
}

.nav{
  text-align: right;
  li{
    display: inline;
    padding-left: 30px;
    a{
      font-size: 24px;
      color: $darkgray;
      position: relative;
    }
  }
}

.nav li a::after{
  display: block;
  position: absolute;
  left: 0;
  bottom: -10;
  height: 0px;
  width: 100%;
  background-color: $purple;
  transition: height .3s;
  content: "";
}

.nav li a:hover{
  color: $purple;
}

.nav li a:hover::after{
  height: 7px;
}
