.container {
  width: 100%;
  max-width: 100%;
}

// h1, h2, h3, h4, h5, h6, p, hr {
//   margin: 0;
// }

.unearth-bg-img {
  // width: 100%;
  height: 630px;
  background-image: url("../images/unearthing-hero.png");
  background-size: cover;
  object-fit: contain;
}

.unearth-hero-text {
  color: #231f20;
  background-color: rgba(255, 255, 255, .6);
  width: 400px;
  padding: 2%;
  position: relative;
  top: 40%;
  left: 55%;
  h4 {
    text-align: center;
    font-weight: 400;
  }
  hr, p {
    margin: 0;
    text-align: center;
  }
  hr {
    border: 1px solid #231f20;
  }
  .dates{
    font-weight: 500;
  }
}

// .about {
//   background-color: #eaebec;
//   overflow: hidden;
//   .about-img {
//     margin: 13% 0;
//     margin-left: 25%;
//     img {
//       height: 160px;
//       width: 160px;
//     }
//   }
//   .about-text {
//     margin: 10% 0;
//     margin-right: 15%;
//     margin-left: 5%;
//     position: relative;
//     h1::after{
//       display: block;
//       position: absolute;
//       left: 0;
//       bottom: -10;
//       height: 0px;
//       width: 90%;
//       background-color: $purple;
//       transition: height .3s;
//       content: "";
//     }
//     h1:hover{
//       color: $purple;
//     }
//     h1:hover::after{
//       height: 7px;
//     }
//   }
// }

.what {
  background-color: white;
    .what-text {
      margin: 10% 0;
      margin-left: 18%;
      margin-right: 7%;
      position: relative;
    }
  .col-right{
      margin-left: 1%;
      .what-img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px;
        // padding-left: 30px;
        padding-right: 100px;
        padding-top: 65px;
        img {
          height: 300px;
          width: 350px;
          border: 1px solid #eaebec;
        }
      }
    }
}

.how {
  background-color: #eaebec;
  .how-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    padding-right: 0;
    padding-left: 100px;
    padding-top: 90px;
    img {
      height: 350px;
      width: 400px;
    }
  }
  .how-text {
    margin: 0;
    margin-top: 7%;
    margin-right: 17%;
    margin-left: 5%;
    position: relative;
    .bold-text{
      font-size: 25px;
    }
  }
}

.where {
  background-color: white;
    .where-text {
      margin: 10% 0;
      margin-left: 18%;
      margin-right: 5%;
      position: relative;
    }
  .where-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    padding-left: 0;
    padding-right: 100px;
    img {
      height: 300px;
      width: 350px;
      border: 1px solid #eaebec;
    }
  }
}
