header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  background: rgba(255, 255, 255, 0.5); }
  header .mainlogo {
    text-align: right; }
    header .mainlogo img {
      height: 20px;
      object-fit: contain;
      vertical-align: middle; }
    header .mainlogo a {
      text-decoration: none;
      font-weight: bold;
      color: #231f20; }
    header .mainlogo .navmain .exhlogo {
      height: 125px;
      object-fit: contain; }

.nav {
  text-align: right; }
  .nav li {
    display: inline;
    padding-left: 30px; }
    .nav li a {
      font-size: 24px;
      color: #231f20;
      position: relative; }

.nav li a::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10;
  height: 0px;
  width: 100%;
  background-color: #690052;
  transition: height .3s;
  content: ""; }

.nav li a:hover {
  color: #690052; }

.nav li a:hover::after {
  height: 7px; }

footer {
  background: #eaebec;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%; }
  footer .footall {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  footer .footleft {
    text-align: left; }
    footer .footleft img {
      height: 75px;
      object-fit: contain; }
  footer .footmiddle {
    height: 80px;
    text-align: center;
    margin-left: 0px; }
    footer .footmiddle p {
      margin-bottom: 2px;
      color: #231f20; }
    footer .footmiddle ul {
      margin-bottom: 2px; }
    footer .footmiddle li {
      display: inline;
      padding-left: 15px;
      padding-right: 15px; }
      footer .footmiddle li a {
        font-size: 13px;
        color: #231f20; }
    footer .footmiddle .fa {
      font-size: 22px;
      width: 30px;
      padding: 3px;
      margin-left: 3px;
      margin-right: 3px;
      background: #939597;
      color: white; }
  footer .footright {
    text-align: right;
    margin-left: 0px; }
    footer .footright ul {
      margin-bottom: 0px; }
    footer .footright li {
      display: inline;
      padding-left: 5px;
      padding-right: 5px; }
      footer .footright li a {
        font-size: 13px;
        color: #231f20; }

.footmiddle a:hover, .footright a:hover {
  color: #690052;
  font-weight: 500;
  text-decoration: underline; }

.footmiddle .fa:hover {
  background: #2ab6bc; }

.mainmap img {
  box-sizing: border-box;
  width: 100vw; }

.contmap {
  height: 700px;
  object-fit: contain; }

.container {
  width: 100%;
  max-width: 100%; }

.home-bg-img {
  height: 630px;
  background-image: url("../images/hero-home.jpeg");
  background-size: cover;
  object-fit: contain; }

.home-hero-text {
  color: #231f20;
  background-color: rgba(255, 255, 255, 0.6);
  width: 400px;
  padding: 2%;
  position: relative;
  top: 30%;
  left: 55%; }
  .home-hero-text h4 {
    text-align: center;
    font-weight: 400; }
  .home-hero-text hr, .home-hero-text p {
    margin: 0;
    text-align: center; }
  .home-hero-text hr {
    border: 1px solid #231f20; }
  .home-hero-text .dates {
    font-weight: 500; }

.about {
  background-color: #eaebec;
  overflow: hidden; }
  .about .about-img {
    margin: 13% 0;
    margin-left: 25%; }
    .about .about-img img {
      height: 160px;
      width: 160px; }
  .about .about-text {
    margin: 10% 0;
    margin-right: 15%;
    margin-left: 5%;
    position: relative; }
    .about .about-text h1::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -10;
      height: 0px;
      width: 90%;
      background-color: #690052;
      transition: height .3s;
      content: ""; }
    .about .about-text h1:hover {
      color: #690052; }
    .about .about-text h1:hover::after {
      height: 7px; }

.origin {
  background-color: white; }
  .origin .origin-text {
    margin: 10% 0;
    margin-left: 18%;
    margin-right: 7%;
    position: relative; }
    .origin .origin-text h1::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -10;
      height: 0px;
      width: 29%;
      background-color: #690052;
      transition: height .3s;
      content: ""; }
    .origin .origin-text h1:hover {
      color: #690052; }
    .origin .origin-text h1:hover::after {
      height: 7px; }
  .origin .col-right {
    margin-left: 1%; }
    .origin .col-right .origin-img {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 60px;
      padding-right: 100px; }
      .origin .col-right .origin-img img {
        border: 1px solid #eaebec; }

.unearthing {
  background-color: #eaebec; }
  .unearthing .unearthing-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    padding-right: 0;
    padding-left: 100px; }
  .unearthing .unearthing-text {
    margin: 10% 0;
    margin-right: 17%;
    margin-left: 5%;
    position: relative; }
    .unearthing .unearthing-text h1::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -10;
      height: 0px;
      width: 53%;
      background-color: #690052;
      transition: height .3s;
      content: ""; }
    .unearthing .unearthing-text h1:hover {
      color: #690052; }
    .unearthing .unearthing-text h1:hover::after {
      height: 7px; }

.treasures {
  background-color: white; }
  .treasures .treasures-text {
    margin: 10% 0;
    margin-left: 18%;
    margin-right: 5%;
    position: relative; }
    .treasures .treasures-text h1::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -10;
      height: 0px;
      width: 49%;
      background-color: #690052;
      transition: height .3s;
      content: ""; }
    .treasures .treasures-text h1:hover {
      color: #690052; }
    .treasures .treasures-text h1:hover::after {
      height: 7px; }
  .treasures .treasures-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    padding-left: 0;
    padding-right: 100px; }
    .treasures .treasures-img img {
      border: 1px solid #eaebec; }

.container {
  width: 100%;
  max-width: 100%; }

.unearth-bg-img {
  height: 630px;
  background-image: url("../images/unearthing-hero.png");
  background-size: cover;
  object-fit: contain; }

.unearth-hero-text {
  color: #231f20;
  background-color: rgba(255, 255, 255, 0.6);
  width: 400px;
  padding: 2%;
  position: relative;
  top: 40%;
  left: 55%; }
  .unearth-hero-text h4 {
    text-align: center;
    font-weight: 400; }
  .unearth-hero-text hr, .unearth-hero-text p {
    margin: 0;
    text-align: center; }
  .unearth-hero-text hr {
    border: 1px solid #231f20; }
  .unearth-hero-text .dates {
    font-weight: 500; }

.what {
  background-color: white; }
  .what .what-text {
    margin: 10% 0;
    margin-left: 18%;
    margin-right: 7%;
    position: relative; }
  .what .col-right {
    margin-left: 1%; }
    .what .col-right .what-img {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 60px;
      padding-right: 100px;
      padding-top: 65px; }
      .what .col-right .what-img img {
        height: 300px;
        width: 350px;
        border: 1px solid #eaebec; }

.how {
  background-color: #eaebec; }
  .how .how-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    padding-right: 0;
    padding-left: 100px;
    padding-top: 90px; }
    .how .how-img img {
      height: 350px;
      width: 400px; }
  .how .how-text {
    margin: 0;
    margin-top: 7%;
    margin-right: 17%;
    margin-left: 5%;
    position: relative; }
    .how .how-text .bold-text {
      font-size: 25px; }

.where {
  background-color: white; }
  .where .where-text {
    margin: 10% 0;
    margin-left: 18%;
    margin-right: 5%;
    position: relative; }
  .where .where-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    padding-left: 0;
    padding-right: 100px; }
    .where .where-img img {
      height: 300px;
      width: 350px;
      border: 1px solid #eaebec; }

body {
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }

a {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
